* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 140px;
  max-width: 1360px;
  width: 100%;
}

/* header */

.header, nav, .header__navbar ul, .header__search ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    margin-top: 50px;
    margin-bottom: 60px;
}
.header__navbar li{
    margin-left: 50px;
}
.header__search li{
    margin-left: 100px;
}

.header__search a, .header__navbar a{
    font-size: 20px;
    color: #707070;
}

/* main */
.main_img{
    width: 100%;
    margin-bottom: 140px;
}
.main_img img{
    width: 100%;
    object-fit: cover;
}

.display{
    display: none;
}

.main_articles{
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main h1{
    margin-bottom: 70px;
    font-size: 40px;
    color: #707070;
}
.article{
    width: 32%;
    height: 440px;
    box-shadow: 0px 3px 6px #000000;
}
.article img{
    width: 100%;
    height: 49%;
    object-fit: cover;
}

.article_txt{
    height: 50%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_txt h3{
    font-size: 30px;
    color: #707070;
}

.article_txt p{
    font-size: 18px;
    color: #707070;
}
.article_txt div {
    text-align: end;
}

.article_txt a{
    font-size: 24px;
    color: #707070;
}
.load {
    margin-bottom: 53px;
    text-align: center;
    font-size: 30px;
}

.load  a{
    color: #707070;
    text-decoration: underline #707070;
}

/* footer */
footer{
    height: 205px;
    background-color: #2E2E2E;
    display: flex;
    align-items: center;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.contact, .address{
    display: flex;
    flex-direction: column;

}

.soc_media{
    width: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer h4{
    font-size: 20px;
    color: #F2F2F2;
}

footer a, p{
    font-size: 13px;
    color: #F2F2F2;
}

/* responsive */
@media only screen and (max-width: 1025px){
    .header__navbar li{
        margin-left: 30px;
    }
    .header__search li{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 980px){
    .container{
        padding: 0 80px;
    }
    
    .header__search a, .header__navbar a{
        font-size: 18px;
       
    }

    .header__navbar li{
        margin-left: 20px;
    }
    .header__search li{
        margin-left: 30px;
    }
    
    .article_txt p{
        font-size: 15px;
    }
    
    .article_txt h3{
        font-size: 20px;
    }

    .article_txt div{
        font-size: 18px;
    }

    footer h4{
        font-size: 18px;
        color: #F2F2F2;
    }
    
    footer a, p{
        font-size: 11px;
        color: #F2F2F2;
    }
}

@media only screen and (max-width: 750px){
    nav .no_display, main .no_display, footer .no_display{
        display: none;
    }

    main .container:first-child{
        padding: 0;
    }
    .article{
        width: 45%;
        height: 500px;
    }
}

@media only screen and (max-width: 620px){
    .container{
        padding: 0 37px;
    }
    header .container{
        padding: 0 27px;
    }
    .no_display_img{
        display: none;
    }

    .display{
        display: block;
    }
    main h1{
        font-size: 25px;
        text-align: center;
    }

    main .main_articles{
        flex-direction: column;
        align-items: center;
    }

    .article{
        width: 80%;
        height: 400px;
        margin-bottom: 30px;
    }

    .load{
        font-size: 20px;
    }
    footer .container{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .address{
        align-items: center;
        order: -1;
    }
    footer{
        height: 240px;
    }
}


/*# sourceMappingURL=style.css.map */